[Unit]
    Description=Select Random WireGuard Config at Boot and start Windscribe VPN
    After=network-online.target
    Wants=network-online.target

[Service]
    Type=oneshot
    ExecStart=/bin/bash /etc/wireguard/wg-up.sh
    RemainAfterExit=yes
    Restart=on-failure

[Install]
    WantedBy=multi-user.target
